<div>
    <h2>All Books</h2>
    <div>
        <ul>
            <li ng-repeat="book in books.allBooks">{{book.title}} - {{book.author}} <a
                    href="#/EditBook/{{book.book_id}}">Edit</a></li>
        </ul>
    </div>
    
    <div>
        <a href="#/AddBook">Add a new book</a>
        <a href="#/EditBook/{{books.lastEdited.book_id}}">Open Last Edited Book</a>
    </div>

    <h2>All Readers</h2>
    <div>
        <ul>
            <li ng-repeat="reader in books.allReaders">{{reader.name}} - {{books.getBadge(reader.totalMinutesRead)}}</li>
        </ul>
    </div>

    <div>
        <h3>Current Favorite Book</h3>
        <div>
            {{books.favoriteBook}}
        </div>
    </div>
</div>
