<div>
    <div>
        <h2>Books Summary</h2>
        {{books.summaryData.bookCount }} Books <br>
        {{books.summaryData.readerCount}} Readers <br>
        {{books.summaryData.grandTotalMinutes}} Total Minutes Read
    </div>
    <h2>All Books</h2>
    <div>
        <ul>
            <li ng-repeat="book in books.allBooks">{{book.title}} - {{book.author}}
                <a href="#/EditBook/{{book.book_id}}">Edit</a>
                <a href="#" ng-click="books.deleteBook(book.book_id)">Delete</a>
            </li>
        </ul>
    </div>
    
    <div>
        <a href="#/AddBook">Add a new book</a>
        <a href="#/EditBook/{{books.lastEdited.book_id}}">Open Last Edited Book</a>
    </div>

    <h2>All Readers</h2>
    <div>
        <ul>
            <li ng-repeat="reader in books.allReaders">{{reader.name}} - {{books.getBadge(reader.totalMinutesRead)}}</li>
        </ul>
    </div>

    <div>
        <h3>Current Favorite Book</h3>
        <div>
            {{books.favoriteBook}}
        </div>
    </div>
</div>
